*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}
.container1{
    height: 90vh;
    width: 70vw;
    border-radius: 10px;
    margin: 15px auto;
    display: flex;
    min-width: 320px;
    max-width: 900px;
    margin: 0px auto;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
}

#box1{
    background-color:rgb(104, 81, 255);
    margin: 10px;
    width: 30vw;
    border-radius: 4px 40px 4px 40px ;
}
#signupimg{
    width: 250px;
    height: 250px;
    display: block;
  margin: auto;
  margin-top: 50px;
    
}

#signuppara{
   font-size: 22px;
    text-align: center;
    margin: 16px 0px 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

#signuppara2{
        margin: 8px 0px 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgb(255, 255, 255);
    text-align: center;
    
}


#box2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding-left: 20px;
}
#username{
    grid-column: span 2;
    height: 50px;
    border-radius: 4px;
    border: 1px  solid #e5e7eb;
    padding-left: 20px;
}
#email{
    height: 50px;
    border-radius: 4px;
    border: 1px  solid #e5e7eb;
    grid-column: span 2 ;
    padding-left: 20px;
}
#firstname{
    height: 50px;
    border-radius: 4px;
    border: 1px  solid #e5e7eb;
    padding-left: 20px;
}
#lastname{
    height: 50px;
    border-radius: 4px;
    border: 1px  solid #e5e7eb;
    padding-left: 20px;
}
#password{
    height: 50px;
    border-radius: 4px;
    border: 1px  solid #e5e7eb;
    padding-left: 20px;
}
#cpassword{
    height: 50px;
    border-radius: 4px;
    border: 1px  solid #e5e7eb;
    padding-left: 20px;
}

#signupbtn{
    background-color:blueviolet;
    color: white;
    height: 50px;
    border-radius: 40px;
    border-color: transparent;
    padding: 10px auto;
    cursor: pointer;}

    .container2{
        height: 50vh;
        width: 50vw;
        margin: 200px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        border-radius: 20px;
        min-width: 320px;
    max-width: 900px;
    margin: 0px auto;
    margin-top: 90px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
    }

    #email2{
        border-radius: 3px;
        width: 40vw;
        height: 50px;
        text-align: center;
        font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    /* color: rgba(0, 0, 0, 0.87); */
    border-color: #e5e7eb;
    border-radius: 10px;
    }
    #password2{
        border-radius: 3px;
        width: 40vw;
        height: 50px;
        text-align: center;
        font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.87);
    border-color: #e5e7eb;
    border-radius: 10px;
    }

    #lgbtn{
        text-align: center;
        width: 30vw;
        height: 50px;
        border-radius: 30px;
        border-color: transparent;
        font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    min-width: 64px;
    color: rgb(255, 255, 255);
    background-color: rgb(104, 81, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    font-weight: 700;
    }

    #dbText{
        margin-top: 10px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .card{
        margin: 40px auto;

    }
    #dbimg{
        width: 200px;
        display: block;
        margin: 1px auto;
    }